
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.active_class{
  color:#ffff;
  display: block;
  padding: 10px;
  background-color: #04AA6D;
  display: inline;
}


a {
  display: block;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
}



/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
background: #8711a5;
padding: 4em;
font-family:Georgia, 'Times New Roman', Times, serif;
color: rgb(255, 255, 255);
}
a{
   list-style-type: none;
   margin: 0 0 2em 0;
   padding: 0; 
}
a{
    display: inline;
    margin-right: 30px;
}
a{
    font-size: 1.5em;
}
a{
    color: rgb(228, 215, 30);
    text-decoration: none;
}